.hidden{
    display: none;
}

ul{
    display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
        margin: auto;
    li{
        list-style: none;
        cursor: pointer;
    }
}

.wb-body{
    padding: 20px;
}